@import url("https://use.typekit.net/jhu7qgv.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: elza, sans-serif;
    scroll-behavior: smooth;
}

#intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999999;
    mix-blend-mode: screen;
}

#intro video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    min-height: 100vh;
    background: linear-gradient(#1d1770, #b5d2ff);
}

header {
    background-color: #0c092e;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

header .logo {
    font-family: elza, sans-serif;
    color: #fff;
    font-size: 2em;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20x;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    text-decoration: none;
    padding: 6px 25px;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {

    background: ivory;
    color: #0e0a38;
    background-blend-mode: color-dodge;
}

section {
    display: flex;
    overflow: hidden;
    position: relative;
    top: -4.5vh;
    width: 100%;
    Height: 97.6vh;
    padding: 100px;
    justify-content: center;
    align-items: center;
}

section::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0c092e, transparent);
    z-index: 10000;
}


section img {
    position: absolute;
    top: 0;
    left: 0px;
    width: 110vw;
    height: 100vh;
    object-fit: cover;
}

section img#moon {
    mix-blend-mode: screen;
}

section img#snow {
    mix-blend-mode: screen;
    filter: blur(4px);
}

section img#front {
    mix-blend-mode: screen;
}

section img#back {
    opacity: 50%;
    mix-blend-mode: screen;
}

#text {
    position: relative;
    right: 2vw;
    top: 20vh;
    color: #fff;
    white-space: nowrap;
    font-size: 6vw;
}

.about {
    position: relative;
    top: -4.5vh;
    padding: 100px;
    background-color: #0c092e;
}

.about h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: aliceblue;
}

.about p {
    font-size: 1em;
    color: aliceblue;
}